<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/masthead') %>
    <div class="container">
      <h2>(1/3) Attendee log-in</h2>
      <p>
        We sent your login link to <%= email %>. Please click the link to
        continue with the signature process.
      </p>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
